setuptools==69.5.1
wheel

fastapi==0.111.0
uvicorn==0.30.1
websockets==12.0
python-multipart==0.0.9

# Audio
git+https://github.com/openai/whisper.git
librosa==0.10.2
sounddevice==0.4.7
soundfile==0.12.1
pyaudio==0.2.14
numpy==1.26.4
scipy==1.13.1
torch
torchvision
torchaudio

# Video
opencv-python==4.10.0.84
mediapipe==0.10.14
deepface==0.0.93
Pillow==10.4.0

# Utilities
python-dotenv==1.0.1
aiofiles==23.2.1
httpx==0.27.0
pydantic==2.7.4
